.Loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--inverted-bg-color) var(--inverted-bg-color) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .Loader::after,
  .Loader::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation-back 0.5s linear infinite;
    transform-origin: center center;
  }

  .Loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--inverted-bg-color) var(--inverted-bg-color) transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  } 

  @keyframes rotation-back {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }