.Text{
    display: flex;
    flex-direction: column;
}

.title{
    color: var(--primary-color);
}

.description{
    color: var(--secondary-color);
}

.titleRedesigned {
    color: var(--text-redesigned);
}

.descriptionRedesigned {
    color: var(--text-redesigned);
}

.error {
    .title{
        color: var(--error-color)
    }

    .description{
        color: var(--error-color)
    }

    .titleRedesigned{
        color: var(--cancel-redesigned)
    }

    .descriptionRedesigned{
        color: var(--cancel-redesigned)
    }
}

.inverted {
    .title{
        color: var(--inverted-primary-color);
    }

    .description{
        color: var(--inverted-secondary-color);
    }

    .titleRedesigned {
        color: var(--text-redesigned);
    }
    
    .descriptionRedesigned {
        color: var(--text-redesigned);
    }
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .description{
        font: var(--font-s);
    }

    .titleRedesigned {
        font: var(--font-m-redesigned);
    }

    .descriptionRedesigned{
        font: var(--font-s-redesigned);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .description{
        font: var(--font-m);
    }

    .titleRedesigned {
        font: var(--font-l-redesigned);
    }

    .descriptionRedesigned{
        font: var(--font-m-redesigned);
    }
}

.size_l{
    .title {
        font: var(--font-xl);
    }

    .description{
        font: var(--font-l);
    }

    .titleRedesigned {
        font: var(--font-xl-redesigned);
    }

    .descriptionRedesigned{
        font: var(--font-l-redesigned);
    }
}

