.Button {
    cursor: pointer;
    padding: 4px 20px;
    color: var(--secondary-color);
    
    &:hover {
        opacity: 0.8;
    }
}

.ButtonRedesigned {
    cursor: pointer;
    padding: 4px 20px;
    color: var(--icon-redesigned);

    &:hover {
        opacity: 0.8;
    }
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.border{
    border: solid var(--secondary-color);
}

.size-auto{
    width: auto;
    height: auto;
}

.size-m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.size-l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.size-xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}

.inverted {
    color: var(--inverted-secondary-color);
}

.disabled{
    opacity: 0.7;
}

.danger{
    color: var(--error-color);
    border: solid var(--error-color);
}

// .invertedRedesigned {

// }

.dangerRedesigned {
    color: var(--cancel-redesigned);
}