.Sidebar {
    position: relative;
    max-width: var(--sidebar-width);
    min-height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: 0.3s width;
    z-index: var(--sidebar-button-z-index);
    flex-basis: 33%;
}


.switcher {
    position: absolute;   
    bottom: 16px;
}

.button {
    position: absolute;
    right: -32px;
    bottom: 32px;
    background: var(--inverted-bg-color);
}

.links {
    padding-left: 12px;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.collapsed {
    max-width: var(--sidebar-width-collapsed);

    .switcher{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }
}


.SidebarRedesigned {
    position: relative;
    overflow: hidden;
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
}

.appLogo{
    padding-top: 20px;
    margin-bottom: 40px;
}

.linksRedesigned{
    position: relative;
    z-index: 1;
}

.contentWrapper {
    height: 100%
}

.switcherRedesigned{
    align-items: baseline;
    margin-bottom: 40px;
}

.buttonRedesigned{
    position: absolute;
    top:50%;
    right: 0;
    color: var(--icon-redesigned);
}

.collapsedRedesigned {
    max-width: var(--sidebar-redesigned-width-collapsed);

    .switcher{
        gap: 0;
        flex-direction: column;
        align-items: center;
    }
    
    .buttonRedesigned{
        // может сделать через Flex
        right: 8px;
    }

    .switcherRedesigned{
        align-items:center
    }
}

