.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: 0.3s width;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switcher{
    position: absolute;   
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}