.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color:  #049604;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
    --skeleton-shadow: #0449e0;
    --skeleton-color: #041c65;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;
    --gradient-sidebar-background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;

    // overlay
    --overlay-color: rgb(0 0 0 / 66%);
};
