.Icon {
    fill: var(--primary-color);
}

.inverted{
    fill: var(--inverted-primary-color);
}

.iconRedesigned {
    fill: var(--icon-redesigned);
}

.invertedRedesigned {
    fill: var(--icon-redesigned);
}