.starRating {
    fill: none;
    cursor: pointer;
    stroke: var(--primary-color);
}

.starRatingRedesigned{
    fill: none;
    cursor: pointer;
    stroke: var(--accent-redesigned);
}

.hovered {
    fill: var(--primary-color)
}

.hoveredRedesigned{
    fill: var(--accent-redesigned)
}

.selected {
    cursor: auto;
}