.ProfileCard {
    border: solid 2px var(--inverted-bg-color);
    padding: 16px;
}

.edit {
    border: var(--primary-color) solid 2px;
}

.avatar{
    align-self: center;
}

.profileCardColumn{
    flex-grow: 1
}

.loaderWrapper{
    display: flex;
    justify-content: center;
}

.select{
    cursor:auto;

    &:hover{
        opacity: 1;
    }
}