.link {
    display: flex;
    gap: 8px;
    padding: 8px 0 8px 16px;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}


.selected {
    border-left: 2px solid var(--accent-redesigned);
    background: var(--gradient-sidebar-background);
    padding-left: calc(16px - 2px) 
}